<h1 align=center><font size = 5>Lab02</font></h1>
<h1 align=center><font size = 4>Python Basics - Operations</font></h1>

### Exercise 1
Whenever you are experimenting with a new feature,you should try to make mistakes. For example, in the“Hello, world!” program, what happens if you leave out one of the quotation marks? What if you leave out both? What if you spell print wrong?

Missing one quotation marks will produce an error.

We’ve seen that n = 42 is legal. What about 42 = n?

How about x = y = 1?

In some languages every statement ends with a semi-colon, ;. What happens if you put a semi-colon at the end of a Python statement?

What if you put a period at the end of a statement?

In math notation you can multiply x and y like this: xy. What happens if you try that in Python?

In [2]:
x=y=1

In [4]:
y

1


### Exercise 2
Start a new jupyter notebook cell and type 'help()' to start the online help utility. Or you can type help('print') to get information about the 'print' statement.

Use a web browser to go to the Python website, http://python.org/. This page contains information about Python and links to Python-related pages, and it gives you the ability to search the Python documentation.

### Exercise 3

What is 7 to the power of 4?

In [1]:
7 **4

2401

### Exercise 4

If you run a 10 kilometer race in 42 minutes 42 seconds, what is your average time (seconds) per mile? what is your average time (minutes) per mile? (Hint: there are about 1.61 kilometers in a mile.)

In [12]:
seconds=41+42*60
distance_m= 10/1.61

print("There are {:.2f} seconds in 10 km in 42 min a 42 seg".format(seconds/distance_m))

There are 412.32 seconds in 10 km in 42 min a 42 seg

### Exercise 5
Assume that we execute the following assignment statements:

In [2]:
width = 17
height = 12
delimiter = '.'

For each of the following expressions, think about the value of the expression in python. Then write a code to check for your answer.

width/2

width/2.0

height/3

1 + 2 * 5

delimiter * 5

In [15]:
print("Results are : \n{}\n{}\n{}\n{}".format(width/2,width/2.0,height/3,1+2*5,delimiter * 5))

Results are :
8.5
8.5
4.0
11

### Exercise 6
Type an integer with a leading zero and see the error

In [4]:
int(0.5)

0

### Exercise 7
The volume of a sphere with radius 'r' is '4/3' π r3. What is the volume of a sphere with radius 5?

pi = 3.1415926535897932

In [8]:
pi = 3.1415926535897932
r=5
4/3 * pi * r**2

104.71975511965977

### Exercise 8
Suppose the cover price of a book is \\$24.95, but bookstores get a 40% discount. Shipping costs \\$3 for the first copy and 75 cents for each additional copy. What is the total wholesale cost for 60 copies?

In [1]:
cover=24.95
disc=0.4
shipping=3 #first copy 
shipping_a=0.75
copies=60
total=cover*(1-disc)+(shipping + shipping_a*(copies-1))
total

62.22

### Exercise 9

 Add parentheses to the following expression so that it evaluates to 1.
    
 5 - 3 // 2

In [2]:
(5 - 3) // 2

1

Add parentheses to the following expression so that it evaluates to 0

8 - 3 * 2 - 1 + 1

In [5]:
8 - 3 * 2 - 1 + 1

4

### Exercise 10

Alice, Bob and Carol have agreed to pool their Halloween candy and split it evenly among themselves.
For the sake of their friendship, any candies left over will be smashed. For example, if they collectively
bring home 91 candies, they'll take 30 each and smash 1.

Write an arithmetic expression below to calculate how many candies they must smash for a given haul.

In [12]:
# Variables representing the number of candies collected by alice, bob, and carol
alice_candies = 121
bob_candies = 77
carol_candies = 109

# Your code goes here! Replace the right-hand side of this assignment with an expression
# involving alice_candies, bob_candies, and carol_candies
to_smash = alice_candies+bob_candies+carol_candies
to_smash % 3

1