

# Assignment 1 - Python Basics

### A note for this assignment

Submit this notebook with your answers included below each question.


| Exercise | Point |
| --- | --- |
| 1 | 10 |
| 2 | 10 |
| 3 | 10 |
| 4 | 10 |
| 5 | 10 |
| 6 | 10 |
| 7 | 10 |
| 8 | 10 |
| 9 | 10 |
|10 | 10 |
| **Total** | **100** |

### Exercise 1

**Given this nested list, use indexing to grab the word "python".**

In [1]:
lst = [1,2, [3, 4], [5, [100, 200, ['python']], 23, 11], 1, 7]

In [7]:
lst[3][1][2][0]

'python'

### Exercise 2

**Given this nested dictionary grab the word "python".**

In [8]:
d = {'k1':[1, 2, 3, {'tricky':['oh','man','inception',{'target':[1, 2, 3, 'python']}]}]}

In [12]:
d['k1'][3]['tricky'][3]['target'][3]

'python'

### Exercise 3

**Create a list L with odd length.  Complete the following tasks:**


 - Find the median element
 - Slice out all element indexed lower than the median element
 
```
An example of a list L:
L= [4, 5, 3, 2, 6, 6, 9]
```

In [8]:
L= [7, 4, 6, 8, 5, 4, 3 ,8 ,7 ]
L=sorted(L)
position=int((len(L)+1)/2)
median=L[position-1]
print('The median of the List (L) is : ',median, ', located in the position ',position-1)

The median of the List (L) is :  6 , located in the position  4

In [10]:
element_lower=L[0:position-1]
print('Elements indexed lower than median are : ',element_lower)

Elements indexed lower than median are :  [3, 4, 4, 5]

### Exercise 4


**a) Swap the following two tuples using one line of python code:**

```
tuple1 = (10, 23)
tuple2 = (97, 33)
```

**Expected output:**
```
tuple1 = (97, 33)
tuple2 = (10, 23)
```

In [12]:
tuple1 = (10, 23)
tuple2 = (97, 33)

In [13]:
tuple2,tuple1=  tuple1, tuple2 # code in one line

In [14]:
# showing results
print('Tuple 1 has the following values : {} \nTuple 2 has the following values : {}'.format(tuple1,tuple2))

Tuple 1 has the following values : (97, 33)
Tuple 2 has the following values : (10, 23)

**b) Modify the first item (22) of a list inside a following tuple to 222**

```
tuple1 = (11, [22, 33], 45, 56)
```

**Expected output:**
```
tuple1 = (11, [222, 33], 45, 56)
```

In [17]:
tuple1 = (11, [22, 33], 45, 56)

In [20]:
tuple1[1][0]=222
print('Once the tuple element is changed, the final result of the tuple is : ',tuple1)

Once the tuple element is changed, the final result of the tuple is :  (11, [222, 33], 45, 56)

### Exercise 5

**Write a code that grabs the email website and prints out the domain:**

**Example**    
```
my_name@domain.com
```

**Expected output:**
```
domain.com
```

In [21]:
email='my_name@domain.com'
list_email=email.split('@')
list_email[1]

'domain.com'

### Exercise 6

Consider the following python data structures and write one use case for each of them.
- string
- list
- tuple
- dictionary
- set

* **String** is used for including a sequences of characters in the code. For instance, to show some results we can use print function to organize the results into text. After executing print function, it results into text scripts.
        string='Hello world'
* **list** is used for including multiple elements. For instance, to save numbers, list, tuples, or dictonaries is it possible.
        list=[(3,5),[4,3,6],{'apples':7,'bananas':5}]
* **tuple** is used for including multiple elements ordered, unchangeable (immutable) and allowing repeated values. For instance, a tuple can be used for extracting a variable of a data frame or extracting a row of a data frame, in which more than 1 data type can be found.
         tuple=(4,True,'Robert')
* **dictionary** is used to store a data collection using keys and its values, so that we can use a dictionary for storing a group of values of 1 category, for instance, number of apple and number of bananas can be included in the same dictionary

        dictionary={'apples':7,'bananas':5}
        
* **sets** is used to store sets of numbers, strings or booleans unordered and unchangeable that cannot be duplicated, for instance storing the different names that can be found in a college is a good option using a set.
        sets= {'andrea','louis','Mark','Jashon'}

### Exercise 7

Given the list nums = [5, 6, 7, 8, 9, 10, 11, 12], write the code that would index into the list and return the sublist [9, 10, 11].

In [46]:
nums = [5, 6, 7, 8, 9, 10, 11, 12]
nums[4:7]

[9, 10, 11]

### Exercise 8

Using python indexing, change the name **`Jason** to **Oliver** in the below data structure

In [52]:
customers = [{'id':'1234','full_name': {'first_name': 'Jason', 'last_name': 'Smith'}},
        {'id':'2345','full_name': {'first_name': 'Tom', 'last_name': 'Albert'}},
        {'id':'3456','full_name': {'first_name': 'Martin', 'last_name': 'Arts'}}]

In [53]:
customers[0]['full_name']['first_name']='Oliver'
customers

[{'id': '1234', 'full_name': {'first_name': 'Oliver', 'last_name': 'Smith'}},
 {'id': '2345', 'full_name': {'first_name': 'Tom', 'last_name': 'Albert'}},
 {'id': '3456', 'full_name': {'first_name': 'Martin', 'last_name': 'Arts'}}]

### Exercise 9

Given the below python list, display the list in the following order:

```
my_list = [100, 200, 300, 400, 500]
```

**Expected output:**
```
my_list = [500, 400, 300, 200, 100]
```

In [61]:
my_list = [100, 200, 300, 400, 500]
my_list=sorted(my_list,reverse=True)
my_list

[500, 400, 300, 200, 100]

### Exercise 10

Create a string variable with your full name in it, with your first and last name (and any middle names) seperated by a space. Split the string into a list, and print out your surname.

In [67]:
name='Andres LastName'
named_splitted=name.split()
print('My surname is {}'.format(named_splitted[2]))

My surname is LastName